body {
    background-color: #242833;
    color: white;
}

/* 2 column setup */
.grid-container {
    display: grid;
}

#left {
    grid-column-start: 1;
    grid-column-end: 1;

    gap: 1em;
}

#right {
    grid-column-start: 3;
    grid-column-end: 3;

    gap: 1em;
}

.w3-card {
    margin: 1em;
    width: 90%;
    border: 0.2em solid blue;
    background-color: #323848;
}

.card-header {
    padding: 0em;
}

input,
textarea {
    border: none;
    background-color: #485167;
    color: white;
}

.name-input {
    font-size: 2em;
}

.stats {
    padding-left: 1em;
    padding-right: 0em;
}

.stats input {
    width: 3em;
}

.w3-card button {
    border: 2px solid slategray;
    background-color: #242833;
    padding: 0.2em;
}

.heal {
    color: lightgreen;
}

.damage {
    color: lightpink;
}

.heal-damage-input {
    width: 5em !important;
}

.card-footer {
    padding: 0em;
}

button.delete {
    border: none;
    padding: 0.5em;
}

.conditions {
    padding-top: 0.25em;
    font-size: 1.5em;
    color: #666;
}

.blinded:hover,
.deafened:hover,
.restrained:hover,
.stunned:hover {
    color: white;
}

.grappled:hover,
.restrained:hover,
.paralyzed:hover {
    color: yellow;
}

.charmed:hover,
.frightened:hover,
.incapacitated:hover {
    color: red;
}

.hunters-mark:hover,
.poisoned:hover {
    color: greenyellow;
}

.hexed:hover,
.invisible:hover,
.unconscious:hover {
    color: magenta;
}

.petrified:hover {
    color: cyan;
}

.dead:hover {
    color: black;
}

.notes {
    padding: 0em;
}

.notes-input {
    width: 100%;
    height: 8em;
}