body {
    background-color: #000;
    color: white;
}

/* 2 column setup */
.grid-container {
    display: grid;
}

#left {
    grid-column-start: 1;
    grid-column-end: 1;

    gap: 1em;
}

#right {
    grid-column-start: 3;
    grid-column-end: 3;

    gap: 1em;
}

/* Card data styling */
.card {
    display: grid;
    border: 0.1em solid #0000bb;
    border-radius: 0.25em;
    background-color: #303030;
    margin: 1.5em;
}

.name {
    grid-row: 1 / span 3;
    grid-column: 1 / span 2;

    font-size: 1.5em;
}

.AC {
    grid-row: 1 / span 1;
    grid-column: 4 / span 1;
    margin-bottom: 0.25em;
}

.initiative {
    grid-row: 1 / span 1;
    grid-column: 5 / span 1;
}

.curHP {
    grid-row: 2 / span 1;
    grid-column: 4 / span 1;
}

.maxHP {
    grid-row: 2 / span 1;
    grid-column: 5 / span 1;
}

.heal-damage {
    grid-row: 3 / span 1;
    grid-column: 3 / span 3;
    margin-top: 0.5em;
    margin-left: 0.5em;
}

.heal-damage input[type="number"] {
    width: 6em;
}


.conditions {
    grid-row: 4 / span 1;
    grid-column: 1 / span 4;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.details {
    grid-row: 5 / span 1;
    grid-column: 1 / span 5;

}

.details input {
    width: 99%;
}

input {
    border: none;
    background-color: #444;
    color: #ccc;
}

input[type="number"] {
    width: 4em;
}