<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DnD 5e Combat Tracker v2</title>

    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <!--Style-->
    <link rel="stylesheet" href="../static/css/index.css">
</head>

<body>

    <h1>DnD 5e Combat Tracker v2</h1>

    <div class="grid-container">
        <div id="left">
            <input id="party-load" type="file" value="Load Party">
            <br>
            <button id="party-save">Save Party</button>
            <button id="party-add">Add Party Member</button>
        </div>

        <div id="right">
            <input id="enemy-load" type="file" value="Load Enemies">
            <br>
            <button id="enemy-save">Save Enemies</button>
            <button id="enemy-add">Add Enemy</button>
        </div>
    </div>

    <!-- FOR TESTING PURPOSES ONLY --- REMOVE LATER -->
    <br><br>
    <button id="test">Run</button>
</body>

<script src="../static/js/index.js"></script>

</html>