<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DnD 5e Combat Tracker v2</title>

    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <!-- FontAwesome Icons -->
    <script src="https://kit.fontawesome.com/fb3277ed2e.js" crossorigin="anonymous"></script>
    <!--Style-->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="../static/css/index.css">
</head>

<body>

    <h1 class="w3-center">
        <b>
            <i class="fa-solid fa-dice-d20"></i>
            DnD 5e Combat Tracker
            <i class="fa-solid fa-dice-d20"></i>
        </b>
    </h1>

    <div class="w3-container w3-center round-turn">
        Round: <input type="text" id="round" value="0"> Turn: <input type="text" id="turn" value="0">
    </div>

    <div class="w3-container w3-center">
        <button id="next-turn" class="w3-display-top-middle w3-button top-button">Next Turn</button>
    </div>


    <div class="grid-container">
        <div id="left">
            Upload Previous Party: <input id="party-load" class="w3-input" type="file" accept=".json">
            <button id="party-save" class="w3-button w3-left top-button">Save Party <i
                    class="fa-solid fa-download"></i></button>
            <button id="party-add" class="w3-button w3-right top-button">Add Member <i class="fa fa-plus"></i></button>
            <button id="party-sort" class="w3-button w3-right top-button">Sort <i
                    class="fa-solid fa-shuffle"></i></button>
            <div class="card-area"></div>
        </div>

        <div id="right">
            Upload Previous Enemy: <input id="enemy-load" class="w3-input" type="file" accept=".json">
            <button id="enemy-add" class="w3-button w3-left top-button">Add Enemy <i class="fa fa-plus"></i></button>
            <button id="enemy-roll" class="w3-button w3-left top-button">Auto Roll Initiative <i
                    class="fa-solid fa-dice"></i></button>
            <button id="enemy-sort" class="w3-button w3-left top-button">Sort <i
                    class="fa-solid fa-shuffle"></i></button>
            <button id="enemy-save" class="w3-button w3-right top-button">Save Enemies <i
                    class="fa-solid fa-download"></i></button>
            <div class="card-area"></div>
        </div>
    </div>

</body>

<script src="../static/js/index.js"></script>

</html>