<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DnD 5e Combat Tracker v2</title>

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="../static/css/index.css">
</head>

<body>

    <h1>DnD 5e Combat Tracker v2</h1>

    <div class="grid-container">

        <div class="left">
            <div class="w3-card-4">
                <header class="w3-container w3-blue">
                    <h1>Header ------------------</h1>
                </header>
                <div class="w3-container">
                    <p>content</p>
                </div>
                <footer class="w3-container w3-blue">
                    <h5>footer</h5>
                </footer>
            </div>
        </div>

        <div class="right">
            <div class="w3-card-4">
                <header class="w3-container w3-red">
                    <h1>Header ------------------</h1>
                </header>
                <div class="w3-container">
                    <p>content</p>
                </div>
                <footer class="w3-container w3-red">
                    <h5>Footer</h5>
                </footer>
            </div>
        </div>

    </div>


</body>

</html>